<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div id="app1">{{'hello'|my}}</div>
    <div id="app2">{{'hello'|my}}</div>
</body>

</html>
<script src="../node_modules/vue/dist/vue.js"></script>
<script>
    //=>在Vue原型filter属性增加方法
    //=>param01:函数名（string）param02:执行的函数
    Vue.filter('my', (data) => { //=>全局过滤器，放在执行上面
        return 'xxx' + data;
    });

    new Vue({
        el: '#app1',
    });
    new Vue({
        el: '#app2',
    });
</script>