<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <div ref="wrap">
            <!--通过循环得到的元素加上ref，得到的值是一个数组 里面存放着循环出的所有元素-->
            <div v-for="item in arr" ref="mydiv">{{item}}</div>
            <!--ref:vue提供的， 给想要获取的元素加一个属性ref="值"-->
            <div ref="box01">a</div>
            <p ref="box02">b</p>
            <span ref="box03">c</span>
        </div>
    </div>
</body>

</html>
<script src="../node_modules/vue/dist/vue.js"></script>
<script type="text/javascript">
    let vm = new Vue({
        el: '#app',
        data: {
            msg: 'hello',
            arr: [1, 2, 3]
        },
        mounted() {
            //=>挂载完成，如果想要获取渲染好的DOM元素在这里获取
            //=>this.$refs是一个对象，寨里面存着加了ref属性的元素
            //=>存的数据格式 {ref后面的值：元素} {mydiv:div,box:div}
            console.log(this.$refs);
            //=>可以通过指定属性名（ref值）获取想要元素
            console.log(this.$refs.box01);
            console.log(this.$refs.mydiv);

            this.arr = [1, 2, 3, 4]; //=>dom渲染是异步的
            console.log(this.$refs.wrap.children); //=>3

            //=>等待dom渲染完成后获取
            this.$nextTick(() => { //=>如果数据变化后，想获取真实dom中的内容，需要等待页面渲染完毕后再去获取，所有的dom操作，最好都放在netxTick();
                console.log(this.$refs.wrap.children); //=>4
            });


        }
    });
    console.log(vm.$options)
</script>