<!doctype html>
<html lang="cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<!--template标签是vue提供用来包裹元素的自定义标签-->
<div id="app"></div>
<template id="temp">
    <div>
        <h1>{{a}}</h1>
    </div>
</template>

</body>
</html>
<script src="../node_modules/vue/dist/vue.js"></script>
<script type="text/javascript">
    let vm = new Vue({
        el: '#app',
        template: "#temp", //=>有template会替换el里面内容
        data: {a: 'hello world'}
    });

</script>