<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <my-hendsome></my-hendsome>

    </div>
</body>

</html>
<script src="../node_modules/vue/dist/vue.js"></script>
<script type="text/javascript">
    //=>1.组件名不要带有大写，多个单词用 - 隔开
    //=>2.只要组件名和定义名字相同是可以的（首字母可以大写）
    //=>3.html采用短横线隔开命名法 js中转驼峰命名也是可以的 Vue.component('myendsome',{template:'<div>你好</div>'});

    //=>组件是独立的，生命周期是独立的，数据也是独立的
    Vue.component('myHendsome', { //=> 一个对象可以看成一个组件
        template: '<div>{{msg}}</div>',
        data(){//=>组件中的数据必须是函数类型，返回一个实例作为组件的数据
            return{
                msg:'数据'
            }
        }
    });
    let vm = new Vue({
        el: '#app',

    });
</script>