<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="app">
    <h1>{{money}}</h1>
    <child :m="money" @change-money="change"></child>
    <!-- 订阅一个自定义事件 changeMoney 由child控制的 -->
</div>

<template id='child'>
    <div>
        <h2>{{m}}</h2>
        <button @click="getMore">更多红包</button>
        <!--  -->
    </div>
</template>
</body>
</html>
<script src="../node_modules/vue/dist/vue.js"></script>
<script type=text/javascript>
    let child = {
        template: '#child',
        props: ['m'],
        methods: {
            //=>发布之前订阅的事件
            getMore() {
                //=>第二个参数是给之前订阅的事件传参用
                this.$emit('change-money',1000)
            }
        }
    };

    const vm = new Vue({
        el: '#app',
        data: {
            money: 100,

        },
        components: {
            child
        },
        methods: {
            //=>自己修改自己的data，让子组件控制这个函数执行
            change(res) {
                this.money = res;
            }
        }
    });
</script>