<!doctype html>
<html lang="cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div id="app">
    <router-link to="/list/1/100">列表</router-link>
    <router-link :to="{path:'/list/2/200'}">列表</router-link>
    <router-link to="/list/3/300">列表</router-link>
    <router-view></router-view>
</div>
</body>
</html>
<script src="../node_modules/vue/dist/vue.js"></script>
<script src="../node_modules/vue-router/dist/vue-router.js"></script>
<script type="text/javascript">
    let list = {
        //=>$route 里面存放着所有的属性 参数params name
        template: "<h1>列表{{$route.params.id}}价格是{{$route.params.price}}</h1>",
        //=>根据路由的变化请求不同的数据
        watch:{
            $route:function(){
                console.log(this.$route.params); //=>{id: "3", price: "300"}
            }
        }
    };

    let router = new VueRouter({
        routes: [
            //=>只要是:XX 就是参数 都放在$route.params这个对象中，属性名是XX，属性值就是上面to="" 后面路径
            {path: "/list/:id/:price", component: list}
        ]
    });

    let vm = new Vue({
        el: '#app',
        router
    });
</script>